@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
}

.put-date {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10rem auto 0 auto;
    justify-content: center;
    align-items: center;
    .page-head {
        font-family: 'Dancing Script', cursive;
        padding-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
    }
    .date-box {
        padding-left: 1rem;
        font-size: 3rem;
        width: 50%;
        border-radius: 50px;
        text-align: center;
    }
    .sub-but {
        margin-top: 2rem;
        width: 50%;
        height: 3rem;
        border-radius: 50px;
    }
}

.container {
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 10rem 0 5rem 0;
        font-weight: bold;
        font-size: 4rem;
    }
    .countdown-container {
        flex-wrap: wrap;
        font-family: 'Dancing Script', cursive;
        display: flex;
        text-align: center;
        font-size: 2rem;
        width: 60%;
        justify-content: space-between;
        .count-item {
            margin: 2rem;
        }
    }
}

//MOBILE RESPONSIVE
@media screen and (max-width:1200px) {
    .put-date {
        .date-box {
            font-size: 1.5rem;
        }
    }
    .container {
        h1 {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width:600px) {
    .put-date {
        .date-box {
            font-size: 0.8rem;
        }
    }
    .container {
        h1 {
            font-size: 1.5rem;
        }
    }
}